<html>

<form>
<div style="background-color:#094AB2;font-family: 'Segoe UI';font-size: 16px;color:white" >
<p style="padding:3px">Todays Checks <label>{{date | date:'ddMMyyhhmmss'}}</label>
<input type="hidden" style="background-color:#094AB2;border: none;background: transparent;" name="date" value="{{date | date:'dd/MM/yy/ hh:mm:ss'}}" readonly/> </p>

</div>
<table class = "table table-bordered">
<tbody>
<tr><td>Overall Status</td>
<td><select name="overall">
<option id="{{item.color}}" ng-selected="Green" ng-repeat="item in options" value="{{item.name}}">{{item.name}}</option></select>
</td></tr>
<tbody>
</table>
<table class = "table table-bordered">
<thead>
<tr>
<th>Name</th>
<th>Name</th>
<th>City</th>
<th>Comments</th>
</tr>  
</thead>
<tbody>
<tr ><td colspan="4"><div style="background-color:#f3fafe">Toranto dashboard</div></td></tr>
<tr>
<td rowspan="2" style="vertical-align: middle">Lorem Ipsum dummy text</td>
<td>Lorem Ipsum</td>
<td><select name="UAO1">
<option id="{{item.color}}" ng-selected="Green" ng-repeat="item in options" value="{{item.name}}">{{item.name}}</option></select>
</td>
<td><input type="text" name="txt1"></td>
</tr>	  

<tr>        
<td>Lorem Ipsum</td>
<td>
<select name="UAO2">
<option id="{{item.color}}" ng-selected="Green" ng-repeat="item in options" value="{{item.name}}">{{item.name}}</option></select>
</td>
<td><input type="text" name="txt2"></td>
</tr>
<tr ><td colspan="4"><div style="background-color:#f3fafe">Toranto dashboard</div></td></tr>
<tr>
<td rowspan="2" style="vertical-align: middle">Lorem Ipsum dummy text</td>
<td style="width:20%">Lorem Ipsum Lorem Ipsum Lorem Ipsum dddddd</td>
<td> 
<select name="UAO3">
<option id="{{item.color}}" ng-selected="Green" ng-repeat="item in options" value="{{item.name}}">{{item.name}}</option></select>
</td>
<td><input type="text" name="txt3"></td>
</tr>	  

<tr>        
<td>Lorem Ipsum</td>
<td><select name="UAO4">
<option id="{{item.color}}" ng-selected="Green" ng-repeat="item in options" value="{{item.name}}">{{item.name}}</option></select>
</td>
<td><input type="text" name="txt4"></td>
</tr>	  
</tbody>	
</table>  
<br/>
<button type="button" class="btn btn-primary btn-lg" onclick="hell()">Save</button>
</form>
</br>
<pre id="result">
</pre>   
</html>
